<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789021005775-scsuar68pm7lo8hsskvp7mkpmcpguh58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789021005775-scsuar68pm7lo8hsskvp7mkpmcpguh58</string>
	<key>API_KEY</key>
	<string>AIzaSyBrBRqcjtPdvlbcuVr7HICQnAnHupHioEM</string>
	<key>GCM_SENDER_ID</key>
	<string>789021005775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifeAndSuccess</string>
	<key>PROJECT_ID</key>
	<string>life-and-success</string>
	<key>STORAGE_BUCKET</key>
	<string>life-and-success.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789021005775:ios:7be7b1cbb1540f941ce4ba</string>
	<key>DATABASE_URL</key>
	<string>https://life-and-success.firebaseio.com</string>
</dict>
</plist>